{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ART | co</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/ARTco.png' %}" rel="icon">
  <link href="{% static 'img/ARTco.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- {% static 'vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- Máquina de escribir CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Knight - v4.8.0
  * Template URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div > <!--class="logo"-->
        <a href="{{homepage_url}}"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid" width="133" height="137"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{{homepage_url}}">Home</a></li>
          <li><a class="nav-link scrollto" href="{{homepage_url}}#about">Nosotros</a></li>
          <li><a class="nav-link scrollto" href="{{homepage_url}}#services">Servicios</a></li>
          <li><a class="nav-link scrollto " href="{{homepage_url}}#productos">Productos</a></li>
          <li><a class="nav-link scrollto" href="{{homepage_url}}#portfolio">Cualidades</a></li>
          <li><a class="nav-link scrollto" href=""> <strong>{{ demo }}</strong> </a></li>
            
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2><strong>Declaración de Privacidad</strong></h2>
          <ol>
            <li><a href="{{homepage_url}}">Home</a></li>
            <li>Política de Privacidad</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <p>
          La importancia de la privacidad tiene gran relevancia en su visita a nuestro sitio web informativo. 
          Esta declaración de privacidad explica cuáles son los datos personales que recopila ARTco, cómo los trata y con qué fines lo hace.
        </p>
        <p>
          Arteaga Corporación ofrece varios productos y servicios, 
          entre los que se incluyen productos implementados para mejorar los procesos empresariales.
        Consulte los detalles específicos de cada producto en esta declaración de privacidad, que ofrecen información adicional relevante. 
        Esta declaración se aplica a las interacciones de ARTco con usted y a los productos de Arteaga Corporación.
        
        </p>
        <br>
        <div class="row">
          <div class="col-lg-12 order-2 order-lg-1">
            <div class="icon-box mt-5 mt-lg-0" >
              <h4>Cookies</h4>
              <p>Esta página web informativa y todo el software desarrollado por Arteaga | Corporación, NO hace uso de archivos de texto colocados en su navegador, por tanto, nosotros implementamos los recursos de servidores para dar nuestros productos y servicios,
                asimismo, NO usamos las cookies para almacenar sus preferencias y su confirguración. </p>
            </div>
            
            <div class="icon-box mt-5"  >
              <h4>Datos personales que recolpilamos</h4>
              <p>Arteaga | Corporación recopila datos de su navegación en nuestro sitio web informativo, como ser ubicación georeferencial, tipo de dispositivo y navegador web. Usted proporciona algunos de estos datos directamente y nosotros obtenemos otros recopilando datos sobre sus interacciones, su uso y sus experiencias con nuestro sitio. Es importante recalcar que ya en cada software que implementamos estos datos son habilidatos y otros más específicos según requerimientos del cliente. Los datos dependen del contexto de sus interacciones con algún producto nuestro y de las elecciones que realice, incluyendo las relativas a su configuración de privacidad y a los productos y funciones que use.</p>
            </div>
            
            <div class="icon-box mt-5" >
              <h4>Cuenta ART|co</h4>
              <p>Para hacer una navegación o solicitar un demo presencial puede mandar sus datos desde la sección habilitada en nuestro sitio web informativo de <a href="{{homepage_url}}#contact" ><b>Contacto</b></a>. Si posterior a esta acción se le habilita un usuario y contraseña para que verifique un demo de nuestros productos usted podrá iniciar sesión sin inconvenientes. Los datos personales asociados con su cuenta de ARTco incluyen credenciales, nombre y datos de contacto, dispositivos y uso de datos, información acerca de sus actividades y sus dentro de la plataforma. Iniciar sesión en su cuenta de ARTco permite experiencias de personalización para que sean implementadas en su empresa y se acople a sus necesidades.
              </p>
            </div>

          </div>  
          
          
        </div>
      </div>
      
    </section>
    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-6" >
            <a href="{{homepage_url}}" class="scrollto footer-logo" ><img src="{% static 'img/hero-logo.png' %}" alt="" ></a>
            <h3>ART | co&nbsp;&nbsp;&nbsp;&nbsp;</h3>
            <p>"Las grandes oportunidades nacen de haber sabido aprovechar las pequeñas"</p>
          </div>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>ART|co</span></strong>. Todos los Derechos Reservados
      </div>
      <div class="credits">
        Desarrollado por <a href="{{homepage_url}}">Arteaga|Corporación</a>
        <b>|</b>
        <font size=2><a href="{{politicaPrivacidad_url}}" >Política de Privacidad</a></font size=2>
      </div>
        
    </div>
    
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>